
#Unity Project/IT School project/Assets/Models/Village/ProBuilder Data/ProBuilderMeshCache/*.asset

Unity Project/IT School project/Temp/

Unity Project/IT School project/Library/

Unity Project/IT School project/Logs/

Unity Project/IT School project/obj/